{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="row" style="padding-top: 3rem">
  <div class="col-2">
    <center><img src="{% static 'img/avatar.svg' %}" alt="Profile Picture" class="rounded float-left"></center>
    <br><center><a href="/profile/{{ user.username }}/" class="text-dark">@{{ user.username }}</a>
    {% if request.user.username == user.username %}
      <br><a href="following/" class="btn btn-info" style="margin: 1rem">{{ user.twitterprofile.follows.count }} Following</a>
      <br><a href="followers/" class="btn btn-info">{{ user.twitterprofile.followed_by.count }} Followers</a>
    {% endif %}
    </center>
  </div>
  <div class="col">
    {% if request.user.username == user.username %}
      {% if form.errors %}
        {% for field in form %}
          {% for error in form.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
      <form action="/profile/{{ request.user.username }}/" method="POST" novalidate>
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group">
            {{ field }}
          </div>
        {% endfor %}

        <input type="hidden" value="{{ request.path }}" name="redirect">
        <input class="btn btn-primary" type="submit" value="Post">
      </form>
    {% else %}
      <center>
        {% if request.user.twitterprofile in user.twitterprofile.followed_by.all %}
          <a href="/profile/{{ user.username }}/removefollow/" class="btn btn-secondary" style="margin-top: 1rem">Unfollow</a>
        {% else %}
          <a href="/profile/{{ user.username }}/addfollow/" class="btn btn-primary" style="margin-top: 1rem">Follow</a>
        {% endif %}
        <br><a href="following/" class="btn btn-info" style="margin: 1rem">{{ user.twitterprofile.follows.count }} Following</a>
        <br><a href="followers/" class="btn btn-info">{{ user.twitterprofile.followed_by.count }} Followers</a>
      </center>
    {% endif %}
  </div>
</div>
<div class="row" style="padding-top:3rem">
  <div class="col-2">
  </div>
  <div class="col">
    {% if user.tweets.all %}
      {% for tweet in user.tweets.all %}
        {% include 'includes/tweet.html' %}
      {% endfor %}
    {% else %}
      <center>
        <div class="alert alert-primary" role="alert">
          Nothing is here!
        </div>  
      </center>
    {% endif %}
  </div>
</div>
{% endblock %}